ul.list-group {
  min-height: 130px;
}

body > #bg {
  height: 100%;
  width: 100%;
  background-color: cadetblue;
  clip-path: polygon(100% 0, 100% 81%, 40% 100%, 0 100%, 0% 38%);
  position: absolute;
  z-index: -1;
}